.appointments1 {
  position: relative;
  font-size: var(--font-size-7xl);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-div {
  position: relative;
  border-radius: var(--br-11xs-5);
  background-color: var(--color-gainsboro-200);
  width: 165px;
  height: 3px;
  flex-shrink: 0;
}
.appointments-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.wot-01-1-icon11 {
  position: relative;
  width: 118px;
  height: 61px;
  flex-shrink: 0;
  object-fit: cover;
}
.wot-01-1-frame {
  width: 214px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-icon6 {
  position: relative;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  cursor: pointer;
}
.frame-nav {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-11xl);
  align-items: center;
  justify-content: space-between;
}
.active-bookings1 {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  text-align: center;
}
.haircut2 {
  position: relative;
}
.date-3323-container,
.haircut-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.date-3323-container {
  width: 317px;
  flex-shrink: 0;
  font-size: var(--font-size-3xl);
}
.haircut-container {
  align-self: stretch;
}
.details4 {
  position: relative;
  font-size: var(--font-size-3xl);
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.details-wrapper2,
.frame-parent15 {
  display: flex;
  justify-content: center;
}
.details-wrapper2 {
  cursor: pointer;
  padding: var(--padding-xs) var(--padding-xl);
  border-radius: 50px;
  justify-content: center;

  padding: var(--padding-xs) var(--padding-smi);
  background-color: var(--color-thistle-200);
  border-radius: var(--br-22xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
  background-color: #212A3E;
  text-decoration: none;
  color: white;
}
.details-wrapper2:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);

}
.frame-parent15 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-lavender);
  flex-direction: column;
  padding: var(--padding-4xl) var(--padding-13xl);
  align-items: flex-start;
  gap: var(--gap-mid);


  align-self: stretch;
  background-color: var(--color-lavender);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  background: radial-gradient(#d0d6e0,#67acb8);
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.5); 
}
.date-4323-container {
  width: 317px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-3xl);
}
.frame-parent16 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-lavender);
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xl) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.details-wrapper4 {
  cursor: pointer;
  padding: var(--padding-xs) var(--padding-xl);
  border-radius: 50px;
  justify-content: center;

  padding: var(--padding-xs) var(--padding-smi);
  background-color: var(--color-thistle-200);
  border-radius: var(--br-22xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
  background-color: #212A3E;
  text-decoration: none;
  color: white;
}
.details-wrapper4:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);

}
.active-bookings-group,
.frame-parent17 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.frame-parent17 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-200);
  padding: var(--padding-5xl) var(--padding-12xl);
  justify-content: space-between;

  align-self: stretch;
  background-color: var(--color-lavender);
  align-items: flex-start;
  gap: var(--gap-3xs);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  background: radial-gradient(#d0d6e0,#9BA4B5);
}
.active-bookings-group {
  overflow-y: auto;
  padding: 0 var(--padding-141xl) var(--padding-41xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
}
.appointments-of-professional {
  position: relative;
  background-color: var(--color-thistle-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}