.wot-01-1-icon3 {
  position: relative;
  width: 345px;
  height: 196px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.log-in-as {
  display: inline-block;
  width: 255px;
  height: 35px;
}
.log-in-as,
.username2,
.username3 {
  position: relative;
  flex-shrink: 0;
}
.username2 {
  display: inline-block;
  width: 91px;
  height: 23px;
}
.username3 {
  border: 0;
  background-color: var(--color-gray);
  border-radius: var(--br-8xs);
  width: 345px;
  height: 57px;
  
}
.username-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.password2 {
  position: relative;
  display: inline-block;
  width: 89px;
  height: 23px;
  flex-shrink: 0;
}
.frame-parent4,
.password-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frame-parent4 {
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-xl);
}
.log-in {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 66px;
  height: 28px;
  flex-shrink: 0;
}
.log-in-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-30xl);
  background-color: var(--color-limegreen);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-size-adjust: 10px;
  font-size: 20px;
}
.log-in-wrapper:hover {
  background-color: var(--color-forestgreen);
}
.span {
  text-decoration: underline;
  color: var(--color-slateblue);
}
.dont-have-an-container,
.sign-up1 {
  position: relative;
  display: inline-block;
  width: 185px;
  height: 21px;
  flex-shrink: 0;
}
.sign-up1 {
  text-decoration: underline;
  /* color: var(--color-slateblue); */
  color:rgb(26, 20, 150);
  width: 64px;
  cursor: pointer;
}
.dont-have-an-account-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-12xs);
  font-size: var(--font-size-lg);
}
.log-in-as-customer-parent,
.wot-01-1-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.wot-01-1-group {
  position: absolute;
  top: 51px;
  left: calc(50% - 173px);
  gap: var(--gap-87xl);
}
.log-in-as-customer {
  position: relative;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
  background: radial-gradient(
    50% 50%at 50% 50%,
    #d0d6e0,
    #9BA4B5 85%,
    #8495b3
  );
}