.appointments {
  position: relative;
  font-size: var(--font-size-7xl);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 164px;
  height: 30px;
  flex-shrink: 0;
  cursor: pointer;
}
.wot-01-1-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 118px;
  height: 61px;
  object-fit: cover;
}
.group-icon2,
.wot-01-1-wrapper {
  position: relative;
  width: 200px;
  height: 61px;
  flex-shrink: 0;
}
.group-icon2 {
  width: 42px;
  height: 42px;
}
.appointments-parent {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-11xl);
  align-items: center;
  justify-content: space-between;
}
.my-profile1,
.sign-out1 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.my-profile1 {
  font-size: var(--font-size-11xl);
  font-weight: 500;
  text-align: center;
  width: 137px;
  height: 35px;
}
.sign-out1 {
  color: var(--color-slateblue);
  width: 95px;
  height: 30px;
  cursor: pointer;
}
.username10 {
  font-weight: 600;
}
.username-johnysmith204-container {
  position: relative;
}
.username-johnysmith204-wrapper {
  align-self: stretch;
  border-radius: 20px;
  background: radial-gradient(#d0d6e0,#9BA4B5);
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-6xl);
  align-items: flex-start;
  justify-content: center;
}
.edit5 {
  position: relative;
  font-size: var(--font-size-3xl);
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.edit-wrapper2,
.name-john-smith-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.edit-wrapper2 {
  cursor: pointer;
  border: 3px solid var(--color-black);
  padding: var(--padding-6xs) var(--padding-16xl);
  background-color: var(--color-thistle-200);
  border-radius: var(--br-22xl);
  justify-content: center;
}
.edit-wrapper2:hover {
  background-color: var(--color-thistle-100);
}
.name-john-smith-group {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-lavender);
  padding: var(--padding-lgi) var(--padding-6xl);
  justify-content: space-between;
  border-radius: 20px;
  
  background: radial-gradient(#d0d6e0,#9BA4B5);

}

.my-profile-group,
.my-profile-of-professional {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my-profile-group {
  align-self: stretch;
  padding: 0 var(--padding-141xl) var(--padding-81xl);
  gap: 28px;
}
.my-profile-of-professional {
  position: relative;
  background-color: var(--color-thistle-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 960px) {
  .my-profile-group {
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-61xl);
    box-sizing: border-box;
  }
}