{% extends "booking-details-for-professional.html" %}
{% block details %}
<div class="booking-details-group">
<div class="booking-details1">Booking Details</div>
<div class="category-beauty-and-wellness-container">
    <div class="category-beauty-and-container1">
    <p class="name-of-customer-olly-warner">
        <b class="olly-warner">Category</b
        ><span>: {{ appointment.Service_ID | service_category }}</span>
    </p>
    <p class="name-of-customer-olly-warner">&nbsp;</p>
    <p class="name-of-customer-olly-warner">
        <b class="olly-warner">Service</b><span> : {{ appointment.Service_ID | service_name }}</span>
    </p>
    <p class="name-of-customer-olly-warner">&nbsp;</p>
    <p class="name-of-customer-olly-warner">
        <b class="olly-warner">Booking ID </b><span>: {{ appointment.appointment_ID }}</span>
    </p>
    <!-- <p class="name-of-customer-olly-warner">&nbsp;</p>
    <p class="name-of-customer-olly-warner">
        <b>Status : </b><span class="olly-warner">Active</span>
    </p> -->
    <p class="name-of-customer-olly-warner">&nbsp;</p>
    <p class="name-of-customer-olly-warner">
        <span class="date2">Date : </span><span>{{ appointment.appointment_date }}</span>
    </p>
    <p class="blank-line14">&nbsp;</p>
    <p class="name-of-customer-olly-warner">
        <span class="date2">Time : </span><span>{{ appointment.appointment_time }}</span>
    </p>
    <p class="name-of-customer-olly-warner">&nbsp;</p>
    <p class="name-of-customer-olly-warner">
        <b class="olly-warner">Price </b><span>: ₹{{ appointment.price }}</span>
    </p>
    <p class="name-of-customer-olly-warner">&nbsp;</p>
    <p class="name-of-customer-olly-warner">
        <b>Name of customer</b
        ><span class="olly-warner"> : {{ appointment.customer_ID | cname }}</span>
    </p>
    <p class="name-of-customer-olly-warner">&nbsp;</p>
    <p class="name-of-customer-olly-warner">
        <b class="olly-warner">Contact</b><span> : {{ appointment.customer_ID | cmobile }}</span>
    </p>
    </div>
</div>
</div>
{% endblock details %}