<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>

    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >


    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='my-profile-of-customer.css') }}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
   
  <style>
    /* Styling the date input field */
    input[type="date"] {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      font-size: 16px;
    }

    /* Styling the time input field */
    input[type="time"] {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      font-size: 16px;
    }

    /* Styling the selected date */
    input[type="date"]::-webkit-calendar-picker-indicator {
      color: #007bff; /* Change to your desired color */
      font-size: 16px;
      cursor: pointer;
    }

    /* Styling the selected time */
    input[type="time"]::-webkit-calendar-picker-indicator {
      color: #007bff; /* Change to your desired color */
      font-size: 16px;
      cursor: pointer;
    }
  </style>

  </head>
  <body>
    <div class="schedule-appointments">
      <nav class="profile-navbar">
        <div class="group-parent">
          <img
            class="frame-child"
            alt=""
            src="{{ url_for('static', filename='group-28.svg') }}"
            id="groupIcon"
          />
          <div class="dashboard" id="dashboardText">Dashboard</div>
        </div>
        <img class="wot-01-1-icon" alt="" src="{{ url_for('static', filename='wot01-12@2x.png') }}" />
        <div class="bookings-parent">
          <div class="bookings" id="bookingsText">Bookings</div>
          <img
            class="group-icon"
            alt=""
            src="{{ url_for('static', filename='group.svg') }}"
            id="groupIcon1"
          />
        </div>
      </nav>
      
      

      <div class="frame-parent">
        

        
        <div class="service-haircut-parent">
          <div class="service-haircut">Name of Professional : {{pname}} </div>
          <div class="parent">
            <div class="service-haircut"></div>
            <div class="group">
              <div class="service-haircut"></div>
              
            </div>
          </div>
      </div>


    <div class="container">
        <div class="board">
            <h2 class="text-light">Word from our customers</h2>

            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                {% for r in revs %}
                <div class="swiper-slide">
                    <div class="flex">
                       
                          {% if lang == '0' %}
                          <div class="comments"> {{r.review_words}} </div>
                            {% else %}
                            <div class="comments">
                              
                              {{r.review_hindi}}</div>
                            {% endif %}
                        

                        <div class="profile">
                            <a href="#">
                                
                        <div class="frame-div">

                        {% set val = r.rating %}
                        {% set n = val | greatest_integer %}
                        {% for i in range(0,n) %}
                        <img
                          class="vector-icon8"
                          alt=""
                          src="{{ url_for('static', filename='vector1.svg') }}"
                        />
                        {% endfor %}
                        </div>
                            
                            </a>
                            <a href="#">{{r.name}}</a>

                        </div>
                        {% if lang == '0' %}
                        <div class="reviews"><a href ="{{url_for('review',sid = sid, pid = pid, date = date, slot = slot, pname= pname,lang=1)}}">translate in hindi</a></div>
                        {% else %}
                        <div class="reviews"><a href ="{{url_for('review',sid = sid, pid = pid, date = date, slot = slot, pname= pname,lang=0)}}">translate in english</a></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
        
            </div>

        </div>
    </div>

      </div>
    </div>

    <script>
      var groupIcon = document.getElementById("groupIcon");
      if (groupIcon) {
        groupIcon.addEventListener("click", function (e) {
          window.location.href = "{{ url_for(rurl) }}";
        });
      }
      
      var dashboardText = document.getElementById("dashboardText");
      if (dashboardText) {
        dashboardText.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('dashboard') }}";
        });
      }
      
      var bookingsText = document.getElementById("bookingsText");
      if (bookingsText) {
        bookingsText.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('bkc') }}";
        });
      }
      
      var groupIcon1 = document.getElementById("groupIcon1");
      if (groupIcon1) {
        groupIcon1.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('mpc') }}";
        });
      }
      
      var frameButton = document.getElementById("frameButton");
      if (frameButton) {
        frameButton.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('ckc') }}";
        });
      }
      
      var frameButton1 = document.getElementById("frameButton1");
      if (frameButton1) {
        frameButton1.addEventListener("click", function (e) {
          window.location.href = "{{ url_for('ckc') }}";
        });
      }
      flatpickr("input[type=datetime-local]",config);
      </script>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="../static/main.js"></script>

  </body>
</html>